@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>

	<form action="/Home/Search">
		<div class="mb-3">
			<label for="search" class="form-label">Araba Markası Giriniz</label>
			<input type="text" class="form-control" name="q">
		</div>

		<button type="submit" class="btn btn-primary">Submit</button>
	</form>

</div>
